.dialog-title {
  font-size: 24px;
  color: #1d1d1d;
}
.box-content {
  background: #ffffff;
  border: 1px solid #ededed;
  box-shadow: 0 8px 10px 0 rgba(187, 187, 187, 0.5);
  border-radius: 10px;
}

.closeBtn {
  background-image: linear-gradient(0deg, #d9d9d9 0%, #ffffff 100%);
  border: 1px solid #dadada;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -15px;
  top: -15px;
  box-sizing: border-box;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  color: #b8b8b8;
  cursor: pointer;
}
.submit-btn {
  width: 123px;
  height: 40px;
  padding: 0 30px;
  line-height: 40px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  background: #2ab3ce;
  border-radius: 100px;
  margin: -30px auto 20px;
  cursor: pointer;
}
.el-dialog {
  input {
    width: 270px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
    border-radius: 4px;
    position: relative;
    margin-right: 15px;
  }
}

.dialog-body {
  margin: -10px auto 0;
  text-align: center;
}

.sub-title {
  font-size: 20px;
  color: #4a4a4a;
  margin-bottom: 4px;
}

.user-head {
  width: 101px;
  height: 104px;
}
