// form
.el-form-item {
	margin-bottom: 12px;
	.el-form-item__label {
		padding-bottom: 0px !important;
	}
}
.el-input__inner {
	background: #ffffff;
	border: 1px solid #e7e7e7;
	max-width: 427px;
	height: 39px;
	box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
	border-radius: 4px;
}
.el-input-group__prepend,
.el-input-group__append {
	box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
}
// dialog
.el-dialog__body {
	padding: 0;
}
.el-dialog__headerbtn {
	top: -12px;
	right: -12px;
	background-image: linear-gradient(0deg, #d9d9d9 0%, #ffffff 100%);
	border: 1px solid #dadada;
	width: 30px;
	height: 30px;
	border-radius: 15px;
}
// upload
.avatar-uploader .el-upload {
    cursor: pointer;
    position: relative;
	overflow: hidden;
	width: 200px;
	height: 150px;
	background: #FFFFFF;
	border: 1px solid #E7E7E7;
	box-shadow: 0 2px 4px 0 rgba(189,189,189,0.50);
	border-radius: 4px;
}
.avatar-uploader .el-upload:hover {
	border-color: #409EFF;
}